.header {
	background-color:#a6ccfb;
	height:60px;
	padding-top:15px;
	padding-left: 0px;
}

#headlink { 
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5%;
	padding-right:5%;
	border-radius:10px;
	margin:5px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	text-decoration:none;
}

.about{
padding: 20px;
}

img {
	width:100%;
	height:450px;
}

input {
	width:35%;
	height:30px;
}

#submit{
	width : 25%;
	height: 30px;
	border-radius: 5px;
}

button {
	width:20%;
	height:30px;
}